body {
    background-color: lightgray;
}

.navbar {
    padding-left: 5%;
    padding-top: 5%;
    position: fixed;

}


.logo {
    font-family: 'Inconsolata', monospace;
    font-size: 1.6em;
    padding-bottom: 1%;


}

.announcement {
    font-family: 'Inconsolata', monospace;
    font-size: 1em;
    max-width: 45ch;
}

.textwrap {
    font-family: 'Inconsolata', monospace;
    font-size: 1em;

}

html {
    scroll-behavior: smooth
}

.catcher {
    margin-top: -5vh;
}

.artcontainer1 {

    /*    background-color: aqua;*/
    display: flex;
    padding-top: 120vh;

    padding-bottom: 0;
    justify-content: center;


}

.artcontainer1 > div {}

.artcontainer {

    /*    background-color: aqua;*/
    display: flex;
    padding-top: 20%;

    padding-bottom: 0;
    justify-content: center;


}

.artcontainer > div {

    height: 100%;

}

.imagewrap {

    width: auto;
}


.imagewrap img {

    width: 100%;
    margin-left: auto;
    margin-right: auto;

}

ul {
    padding-left: 0;
}

li {
    padding-bottom: 1%;
    display: block;
    font-family: 'Inconsolata', monospace;
    font-size: 1em;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

/*mobile*/


@media only screen and (min-width:280px) {


    .artcontainer {
        width: auto;
    }

    .artcontainer1 > div {
        /*        display: inline-block;*/


    }

    .artcontainer > div {
        /*        display: inline-block;*/

    }

    .imagewrap {
        width: 100%;
    }

    .imagewrap img {
        width: 100%;
        margin: auto;

    }

    artcontainer > div {

        width: 87%;

    }
}

/*tablet*/

@media only screen and (min-width:680px) {}


/*desktop*/


@media only screen and (min-width:800px) {
    body {
        background-color: lightgray;
    }

    .navbar {
        padding-left: 5%;
        padding-top: 5%;
        position: fixed;

    }


    .logo {
        font-family: 'Inconsolata', monospace;
        font-size: 1.6em;
        padding-bottom: 1%;


    }

    .announcement {
        font-family: 'Inconsolata', monospace;
        font-size: 1em;
        max-width: 45ch;
    }

    .textwrap {
        font-family: 'Inconsolata', monospace;
        font-size: 1em;

    }

    html {
        scroll-behavior: smooth
    }

    .catcher {
        margin-top: -5vh;
    }

    .artcontainer1 {

        /*    background-color: aqua;*/
        display: flex;
        padding-top: 120vh;
        width 95%;
        padding-bottom: 0;
       




    }

    .artcontainer1 > div {}

    .artcontainer {

        display: flex;
        padding-top: 20%;
        align-content: center;
        padding-bottom: 0;
      
        width: 95%;
        margin-left: auto;
        margin-right: auto;

    }

    .artcontainer > div {

        height: 100%;

    }

    .imagewrap {
display: flex;
        justify-content: center;
        width: 100%;
        height: auto;

    }


    .imagewrap img {

        
       height: 90vh;
        width: auto;



    }

    ul {
        padding-left: 0;
    }

    li {
        padding-bottom: 1%;
        display: block;
        font-family: 'Inconsolata', monospace;
        font-size: 1em;
    }

    a:link {
        color: black;
        text-decoration: none;
    }

    a:visited {
        color: black;
        text-decoration: none;
    }




}
