body {
    background-color: lightgray;
}

.navbar {
    padding-left: 5%;
    padding-top: 5%;

}

.logo {
     font-family: 'Inconsolata', monospace;
    font-size: 1.5vw;
    padding-bottom: 1%;
}

.announcement {
     font-family: 'Inconsolata', monospace;
    font-size: 1.1vw;
     max-width: 45ch;
}

ul {
    padding-left: 0;
}
li {
    padding-bottom: 1%;
    display: block;
     font-family: 'Inconsolata', monospace;
    font-size: 1.1vw;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

/*mobile*/
@media only screen and (max-width:450px) {
    .logo {
        font-size: 5vw;
    }
    
    .announcement {
        font-size: 4vw;
        min-width: 40ch;
    }
    
    li {
       font-size: 4vw; 
    }
    
    .container {
        text-align: left;
        
    }
}

